body {
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 1px;
}

.hover {
    /* background-color: #00FF7F; */
    background-color: black;
}
